.searchPage {

    position: relative;
    display: grid;
    grid-template-rows: auto auto;
    margin: 0 auto;
    max-width: 1440px;

    &__header {
        position: sticky;
        top: 0;
        z-index: 1;
        background: #F8F8F8;
    }

    &__searchWidget {
        background: #F8F8F8;
    }

    &__errorAlert {
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        top: 4rem;
    }

    &__searchResultsWidget {
        display: none;
        animation: 1s hideResults;

        &_active {
            display: grid;
            animation: 1s showResults;
        }
    }

    &__loadingProgress {
        position: fixed;
        color: #21AE84;
        left: 50%;
        transform: translate(-50%, 0);
        top: 4rem;
    }
}

@keyframes showResults {
    0% {
        display: none;
        transform: translateY(200vh);
    }
    
    100% {
        transform: translateY(0px);
        display: inline-block;
    }
}

@keyframes hideResults {
    0% {
        transform: translateY(0px);
        display: inline-block;
    }
    
    100% {
        display: none;
        transform: translateY(200vh);
    }
}